<% cache(:action_suffix => 'toc') do %>
  <div id="ead_sidebar">
    <div id="ead_toc">
      <h3>Table of Contents</h3>
      <ol>
        <li> <%= link_to "Return", catalog_path(params[:ead_id], :anchor => "inventory") %> </li>
      </ol>
    </div>
  </div>
<% end %>
