.DS_Store
nohup.out

*.sqlite3
*.log
*~
*.swp

log/*

rerun.txt

spec/fixtures/ead/*

vendor/plugins/*
vendor/plugins/blacklight/*

public/plugin_assets
public/plugin_assets/

tmp/**/*
tmp/performance 

Gemfile.lock
