.DS_Store
nohup.out

*.sqlite3
*.log
*~
*.swp

rerun.txt

public/plugin_assets
public/plugin_assets/
public/assets
public/*.xml
public/*.xml.gz

tmp

.sass-cache/*
test/data/ead/*

gems/*

blacklight.sublime-project
blacklight.sublime-workspace

spec/fixtures/marc/tmp/*

public/fa/*.html
public/fa/*.xml
public/fa/*.json

.bundle
.rvmrc
.ruby-gemset
jetty
