.DS_Store
nohup.out

*.sqlite3
*.log
*~
*.swp

log/*

rerun.txt

vendor/plugins/*
vendor/plugins/blacklight/*

public/plugin_assets
public/plugin_assets/
public/assets
public/*.xml
public/*.xml.gz


tmp/**/*
tmp/performance 

lib/solrmarc.log*

.sass-cache/*
test/data/ead/*

gems/*

blacklight.sublime-project
blacklight.sublime-workspace

spec/fixtures/marc/tmp/*

public/fa/*