/* Stylings for printing single records in Blacklight */

@import "bootstrap";

/* Don't don't display these */
#header, #sidebar, #ead_sidebar, #digital_object {
  display: none;
}

.navbar, .breadcrumb {
  display: none;
}

img {
  display: none;
}

// By default, Bootstrap displays the link in parentheses.  We don't like that.
a[href]:after {
  content: none;
}
