<% xml = Rockhall::EadMethods.ead_xml(@document) %>
<div id="ead_body">

  <h2> General Information </h2>
  <%= general_info %>

  <%= ead_headings %>

  <%= ead_access_headings %>

  <h2 id="inventory">Collection Inventory</h2>
  <%= render :partial => 'catalog/_show_partials/_archival_collection/dsc'  %>

</div>

