<div id="ead_body">

  <h2> General Information </h2>
  <%= general_info %>

  <%= ead_headings %>

  <%= ead_access_headings %>

  <h2 id="inventory">Collection Inventory</h2>
  <div id="c01-section">
    <%= link_to " + Show Inventory", components_path(:ead_id => params[:id], :component_level => 1 ), :id => "c01-switch", :remote => true %>
  </div>

</div>

