<div id="ead_body">

  <%= render_ead_html %>

  <h2 id="inventory">Collection Inventory</h2>
  <div id="c01-section">
    <% #@components.inspect %>
    <% #render :partial => "components/show", :locals => { :documents => @components[:first] } %>
  </div>

</div>

