<div id="ead_sidebar">
  <div id="ead_toc">
    <h3>Table of Contents</h3>
    <ol>
      <li><a href="#">Top</a></li>
      <%= ead_contents %>
      <% unless @document["subject_topic_facet"].nil? %>
        <li><a href="#access_headings">Controlled Access Headings</a></li>
      <% end %>
      <li><a href="#inventory">Collection Inventory</a></li>
    </ol>
  </div>
</div>


