// Catalog stylesheet

// -----------------------------------------------------
// Variables and settings
// -----------------------------------------------------

// Defing our reds and other colors
$catalog-darker-red:  #1f0101;
$catalog-dark-red:    #7d0e0e;
$catalog-red:         #590000;
$catalog-light-red:   #ac1313;
$component-c1:        lighten(#000, 65%);
$component-c2:        lighten(#000, 80%);
$component-c3:        lighten(#000, 90%);
$component-c4:        lighten(#000, 95%);
$component-c5:        lighten(#000, 97%);
$component-c6:        lighten(#000, 100%);

// Asign bootstrap's colors to ours
$brand-primary:                 $catalog-red;
$link-color:                    $catalog-light-red;
$navbar-inverse-bg:             $catalog-darker-red;
$navbar-inverse-link-hover-bg:  $catalog-red;
$dropdown-link-hover-bg:        $catalog-light-red;
$dropdown-link-hover-color:     #ffffff;

// Other settings
$navbar-height: 40px;
$font-size-base: 13px;
$headings-line-height: 1;
$line-height-base: 1.36;

// -----------------------------------------------------
// Heere begineth the sass
// -----------------------------------------------------

@import "bootstrap";
@import "blacklight/blacklight";

// Bootstrap overrides

h1, h2, h3 {
  margin-top: 8px;
}

.navbar-inverse { 
  @include gradient-vertical($catalog-darker-red, $catalog-red);
  border-bottom-color: $catalog-darker-red;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.navbar-default { 
  @include gradient-vertical(lighten($gray-lighter, 15%), $gray-lighter);
  border-bottom-color: $gray-light;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

a.glyphicon {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

// Bootstrap v2 styled stacked nav tabs

.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  @include border-top-radius(4px);
}
.nav-tabs.nav-stacked > li:last-child > a {
  @include border-bottom-radius(4px);
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #ddd;
  z-index: 2;
}

.nav-stacked > li + li {
  margin-top: 0px;
}

// Get sassy here....

.inline {
  display: inline;
}

.block {
  display: block;
}

.white {
  color: #ffffff;
}

.well-inverse {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.child-component {
  padding-left: 20px;
}

.location {
  margin-bottom: 2px;
}

#header {

  background-image: asset-url("header_tile_bg.png");
  background-repeat: repeat-x;
  
  .banner {
    background-repeat:no-repeat;
    background-position: center center;
    @media (min-width: $screen-lg) {
      background-image: asset-url("header-lg.jpg");
      height: 102px;
      width: 100%;
    }
    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      background-image: asset-url("header-md.jpg");
      height: 76px;
      width: 100%;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      background-image: asset-url("header-sm.jpg");
      height: 64px;
      width: 100%;
    }
    @media (max-width: $screen-sm) {
      background-image: asset-url("header-xs.jpg");
      height: 46px;
      width: 100%;
    }
  }

}


#main {
  margin-top: 20px;
}

#footer {
  margin-top: 20px;
  margin-bottom: 0px;
}

// General information section of the finding aid display needs more room
@media (min-width: 768px) {
  #geninfo.dl-horizontal dt {
    float: left;
    width: 200px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #geninfo.dl-horizontal dd {
    margin-left: 220px;
  }
  #geninfo.dl-horizontal dd:before, .dl-horizontal dd:after {
    content: " ";
    display: table; }
  #geninfo.dl-horizontal dd:after {
    clear: both;
  } 
}


// Mobile screen

@media (max-width: $screen-sm) {
  .navbar-default {
    margin-bottom: 20px;
    min-height: 5px;
  }
  .navbar-inverse {
    margin-bottom: 0px;
  }
  #main{
    margin-top: 0px;
  }
}

// Video player

#video_box {
  background: #000;
  padding: 10px 0px 10px 0px; }

/* player container */

#player {
  background: black;
  cursor: pointer;
  -moz-outline-radius: 4px;
  margin: 0 auto;
  margin-top: 12px;

  @media (min-width: $screen-lg) {
    width: #{16 * 22}px;
    height: #{10 * 22}px;
  }

  @media (max-width: $screen-lg) {
    width: #{16 * 11}px;
    height: #{10 * 11}px;
  }

}

/* playlist */

#playlist {
  margin: 0 auto;
  margin-top: 5px;
  width: 550px;
  div {
    float: left;
    color: #fff;
    background-color: #333;
    text-align: center;
    width: 180px;
    height: 16px;
    padding: 5px 0px;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    &:last-child {
      margin-right: 0; }
    &:hover {
      background-color: #666; }
    &.playing, &.paused {
      background-color: #fff;
      color: #000; }
    &:active {
      cursor: default;
      background-color: #ededed;
      color: #444; } } }

/* playlist item */

/* mouseover state */

/* clicked state */

/* active item */

// Full finding aid display

div.component {
  padding: 10px;
  &.c01 {
    background-color: $component-c1;
    border-color: darken($component-c1, 50%);
    box-shadow: inset 0 1px 0 darken($component-c1, 100%);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 darken($component-c1, 10%);
  }
  &.c02 {
    background-color: $component-c2;
    border-color: darken($component-c2, 50%);
    box-shadow: inset 0 1px 0 darken($component-c2, 100%);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 darken($component-c2, 10%);
  }
  &.c03 {
    background-color: $component-c3;
    border-color: darken($component-c3, 50%);
    box-shadow: inset 0 1px 0 darken($component-c3, 100%);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 darken($component-c3, 10%);
  }
  &.c04 {
    background-color: $component-c4;
    border-color: darken($component-c4, 50%);
    box-shadow: inset 0 1px 0 darken($component-c4, 100%);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 darken($component-c4, 10%);
  }
  &.c05 {
    border: 1px solid $component-c5;
    border-color: darken($component-c5, 50%);
    box-shadow: inset 0 1px 0 darken($component-c5, 100%);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 darken($component-c5, 10%);
  }
}
