$navbarInverseBackground: #1f0101;
$navbarInverseBackgroundHighlight: #590000;
$navbarHeight: 40px;
$linkColor: #ac1313;
$linkColorHover: #7d0e0e;
$navbarInverseLinkBackgroundHover: #590000;
$marc_item_separator: 1px solid #CCC !default;

@import "bootstrap";
@import "bootstrap-responsive";
@import "blacklight/facets";

form {
  margin: 0px 0px 0px 0px;
}

.modal.fade.in {
  top: 50%;
}

.pagination {
  margin: 10px 0px 0px 0px;
}

.alert {
  margin: 10px 0px;
}

.alert-info {
  background-color: $grayLighter;
  border-color: $grayLight;
  color: $grayDark;
}
.modal {
  margin-top: 0px;
}

.block {
  display: block;
}

#main {
  padding: 10px 50px 10px 50px;
}

#footer {
  margin-top: 20px;
}

#main-flashes {
  margin: 0px;
  padding: 0px;
}

.flash_messages {
  margin: 0px;
  padding: 0px;
}

.navbar-inverse { 
  .navbar-top {
    background-color: #cccccc;
    background-image: asset-url("navbar_swatch.png");
    border-bottom-color: $navbarInverseBackground;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
}

.navbar-title {
  color: white;
  font-size: 40px;
  line-height: 40px;
  padding: 12px 0px 12px 0px;
}

.carousel-inner {
  background: #bbb;
}

.inline {
  display: inline;
}

.well-inverse {

  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}

.hidden {
  display: none;
}

.itemprop {
  display: block;
}

// Override links within a form to make them appear the same as links within the dropdown navbar
.refworks {
  form {
    a {
      clear: both;
      color: $textColor;
      cursor: auto;
      display: block;
      font-family: $sansFontFamily;
      padding-bottom: 3px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 3px;
      text-align: left;
      text-decoration: none solid $textColor;
      white-space: nowrap;
    }
    a:hover { 
      background-color: $linkColor;
      color: $navbarInverseLinkColorHover;
    }
  }
}

// Finding Aids

#fa {

  p {
    line-height: 25px;
  }

  #bioghist {
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    dd {
      padding: 1px 0 1px 0;
      border-bottom: 1px solid $grayLight;
    }
  
  }

  #summary {
    dd p {
    padding: 0;
    margin: 0;
    line-height: $baseLineHeight;
    }
  }

  .bibliography {
    padding-left: 15px;
  }

}

#inventory_table {
  margin-bottom: 0px;
}

// Librarian View

#marc_view
{
  padding:5px;
  text-align:left;

  .field
  {
    border-bottom: $marc_item_separator;
    clear:both;
  }

  .ind1, .ind2
  {
    display:inline;
    padding:0 5px;
  }

  .subfields
  {
    padding-left:5em;
  }

  .tag_ind
  {
    float:left;
  }
}
