<% sidebar_items << capture do %>
  <%= render_ead_sidebar %>
<% end %>

<div id="ead_body">

  <%= render_ead_html %>

  <h2 id="inventory">Collection Inventory</h2>
  <%= render_inventory %>

</div>