<% sidebar_items << capture do %>
  <%= render_ead_sidebar %>
<% end %>

<div id="ead_body">

  <%= render_ead_html %>
  <% unless params[:ref] == "full" %>
    <%= render_collection_inventory_heading %>
    <%= render_collection_inventory %>
  <% end %>

</div>