<div> 
  <h3>Holdings</h3>
  <table>
    <tbody><tr><th>Location</th><th>Call Number</th><th>Availability</th></tr>
      <% for item in holdings %>
        <td>
          <%= item.location %>
        </td>
        <td>
          <%= item.call_number %>
        </td>
        <td>
          <%= item.status %>
        </td>
      <% end %>
    </tbody>
  </table>
  <%= render_holdings_link %>
</div>