/* Blacklight css overrides */

html {
  background: #DDD
}

body {
  background: url(../images/header_tile_bg.jpg) 0 0 repeat-x;
  font: 0.7em Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif;
  line-height: 1.4;
  color:#333;
  margin: 0px;
  padding: 0px;
}

select,input,button,textarea {
  font: 1em Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif;
}


/* yui overrides */


#custom-doc {
  background: transparent url(../images/header_bg.jpg) top center no-repeat;
  width: 1100 px;
}

#hd {
	width: 100%;
  position: relative;
	height: 198px;
}

#rockhall-seal {
  height: 198px;
  width: 160 px;
  padding-left: 75 px;
}

#rockhall-seal a {
  border: none;
}

#library-banner {
  height: 198 px;
  width: 850 px;
  color: #fff;

}

#banner-text {
  position:absolute;
  top:75%
}

#banner-text span {

}


/*
  Side-by-side definition list label-value pairs
  (stole this from Hydrangea's css
*/


dl {
    overflow:hidden;
    margin-top:0;
    padding-top:0;
}

dl dt {
    clear: left;
    float:left;
    width:11em;
    text-align: right;
    font-weight: bold;
    font-size: .9em;
    margin-top: 5px;
    }

dl dd {
    float: left;
    width: 30em;
    margin-top: 4px; /* dd tags look oddly out-of-line unless slightly smaller than dt tags */
    margin-right: 0;
    position: relative;
    }


/* Modifications to Blacklight */

#doc4 {
  clear;
}

dl.defList    {
  width: 620px;
  margin: 1em 0;
  padding: 0;
}

dl.defList dt {
  clear: left;
  float: left;
  width: 150px;
  margin: 0;
  padding: 1px 5px 1px;
  font-weight: bold;
}

dl.defList dd {
  float: left;
  width: 450px;
  margin: 0;
  padding: 1px 5px 1px;
}

/* EAD css */

span.container {
	font-size: 90%;
	margin-left: 25px;
}

div.component_part {
	padding: 3px;
	margin: 2px 0;
}

h5 {
	margin: 0px;
}

div.c01{
	margin: 2px 2px 2px 12px;
	background-color: #CCC;
}

div.c02 {
	margin: 2px 2px 2px 12px;
	background-color: #DDD;
}

div.c03 {
	margin: 0 0 0 12px;
	background-color: #EEE;
}

div.c04 {
	margin: 0 0 0 12px;
	background-color: #FFF;
}

div.c05 {
	margin: 0 0 0 12px;
	border: 1px solid #CCC;
}

#ead_sidebar {
  position: fixed;
}

#ead_toc {
  position: relative;
}

div#ead_toc ol {
  margin:0;
}

div#ead_toc ol li {
  list-style-type: none;
  margin-bottom: 5px;
}

div#ead_body p {
  margin: 0 0 10px 0;
  padding: 0;
}

div#ead_body ul li {
  list-style-type: none;
}
