<div id="footer" class="row-fluid">
  <div class="well text-center span12">
    Rock and Roll Hall of Fame and Museum | Library and Archives | 2809 Woodland Ave. | Cleveland, OH 44115 | 216.515.1960 | library@rockhall.org
  <div>
</div>