<%= render "shared/header" %>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container navbar-container">
    <!-- Toggle button to show menu on mobile device -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#catalog_navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-question-sign white"></span>
      </button>

      <% if params[:action].match("show") %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#record_controls">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-info-sign white"></span>
        </button>
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-circle-arrow-right white"></span>
        </button>
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-circle-arrow-up white"></span>
        </button>
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-circle-arrow-left white"></span>
        </button>
      <% end %>

    </div>

    <div class="collapse navbar-collapse" id="catalog_navbar">
      <%= render_search_bar %>
      <%= render :partial => "/user_util_links" %>      
    </div>
  </div>
</nav>
