<h1>Welcome to the Library and Archives Catalog!</h1>
<ul>
  <li><%= link_to("How to use the catalog", "http://library.rockhall.com") %></li>
  <li><%= link_to("Subject guides and suggested reading lists", "http://library.rockhall.com") %></li>
  <li><%= link_to("New acquisitions", "http://library.rockhall.com") %></li>
  <li>Questions? Bugs? Feedback? <%= link_to("Contact us.", "http://library.rockhall.com/contact") %></li>
</ul>


