<h1>Welcome to the Library and Archives Catalog!</h1>
<ul>
  <li><%= link_to("New acquisitions", "http://library.rockhall.com/content.php?pid=290460&sid=2386867") %></li>
  <li>Questions? Bugs? Feedback? <%= link_to("Contact us.", "http://library.rockhall.com/content.php?pid=290460&sid=2386877") %></li>
</ul>
<%= image_tag("mural.jpg", {:id=>"mural"}) %>

