/* Blacklight css overrides */

$col-width: 10em;
$gutter-width: 10em;
$side-gutter-width: 10em;

$page_bg_color: #ccc;

html {
  background: #FFF; }

body {
  background: url(image_path('header_tile_bg.jpg')) 0 0 repeat-x;
  font-size: .85em;
  font-family: Georgia, Times, serif;
  line-height: 1.4;
  color: #333;
  margin: 0px;
  padding: 0px; }

select, input, button, textarea {
  font: 1em Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif; }

#rockhall-seal a {
  border: none; }

a {
  &:link, &:visited, &:active {
    color: #AC1313;
  }
}

.links {
  font-size: 93%;
  padding: 1em 0 0 1em;
  h2 {
    color: #555;
  }
  li {
    list-style: none;
    margin: .3em 0;
  }
  ul {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 1em;
    margin: 0;
  }
}

/* yui overrides

.yui-t1 #yui-main .yui-b, .yui-t2 #yui-main .yui-b, .yui-t3 #yui-main .yui-b {
  margin-left: 250px;
  margin-right: 0px;
  padding: 0px;
}

.sidebar p {padding-top: 2em;}
.sidebar {
  margin: 0;
}
#facets{
  padding: 0;
}
*/

#page {
  background: transparent url(image_path('header_bg.jpg')) top center no-repeat;
  width: 1100px; }

#hd {
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: relative;
  height: 198px; }

#rockhall-seal {
  display: inline;
  height: 198px;
  width: 160px;
  padding-left: 75px; }

#banner-text {
  display: inline;
  padding-left: 275px;
}

#ft {
  background-color: #7d0000;
  color: #ffffff;
  text-align: center;
  padding: .5em;
  margin-bottom: 1em; }

#white_link {
  color: #ffffff;
  border: none; }

/*
  bottom margin is there to let this area push down and be flush with facets on the left.
  as we put more content in the home page, this margin can be removed.
*/

#mural {
  margin-top: 1em;
  margin-bottom: 5em; }

/*
  Side-by-side definition list label-value pairs
  (stole this from Hydrangea's css
*/

dl {
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
  dt {
    clear: left;
    float: left;
    width: 11em;
    text-align: right;
    font-weight: bold;
    font-size: .9em;
    margin-top: 5px; }
  dd {
    float: left;
    width: 30em;
    margin-top: 4px;
    /* dd tags look oddly out-of-line unless slightly smaller than dt tags */
    margin-right: 0;
    position: relative; } }

/* Modifications to Blacklight */

/* Changed blue colors to reds in the "You searched for" section */

#bd #main {
  padding-left: 4.196%;
}

.appliedFilter {
  background: #efd2d2;
  border: 1px solid #be4646;
  .btnRemove {
    border-left: 1px solid #efd2d2;
    &:active, &:focus {
      border: 1px dotted #FFD27A; } } }

.page_links span.current {
  background: none repeat scroll 0 0 #be4646;
  border: 1px solid #be4646; }

dl.defList {
  width: 620px;
  margin: 1em 0;
  padding: 0;
  dt {
    clear: left;
    float: left;
    width: 150px;
    margin: 0;
    padding: 1px 5px 1px;
    font-weight: bold; }
  dd {
    float: left;
    width: 450px;
    margin: 0;
    padding: 1px 5px 1px; } }

.user_util_links {
  margin: 20px 0px 0px 0px; }

/* EAD css */

span.container {
  font-size: 90%;
  margin-left: 25px; }

div.component_part {
  padding: 3px;
  margin: 2px 0; }

h5 {
  margin: 0px; }

div {
  &.c01 {
    margin: 2px 2px 2px 12px;
    background-color: #CCC; }
  &.c02 {
    margin: 2px 2px 2px 12px;
    background-color: #DDD; }
  &.c03 {
    margin: 0 0 0 12px;
    background-color: #EEE; }
  &.c04 {
    margin: 0 0 0 12px;
    background-color: #FFF; }
  &.c05 {
    margin: 0 0 0 12px;
    border: 1px solid #CCC; } }

#ead_sidebar {
  position: fixed; }

#ead_toc {
  position: relative; }

div {
  &#ead_toc ol {
    margin: 0;
    li {
      list-style-type: none;
      margin-bottom: 5px; } }
  &#ead_body {
    p {
      margin: 0 0 10px 0;
      padding: 0; }
    ul li {
      list-style-type: none; } } }