/* Rockhall css stylings */

html { background: #FFF; }

body {
  background: url(image_path('header_tile_bg.jpg')) 0 0 repeat-x;
  font-size: .85em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #333;
  margin: 0px;
  padding: 0px;
}

select, input, button, textarea {
  font: 1em Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif;
}

.clr { clear: both; }

.no-background { background: none; }

a {
  &:link, &:visited, &:active {
    color: #AC1313;
  }
}

.links {
  font-size: 93%;
  padding: 1em 0 0 1em;
  margin: 0;
  h2 {
    color: #555;
  }
  ul {
    vertical-align: baseline;
    padding: 0;
    margin: .3em 0;
  }
  li {
    list-style: none;
  }
}


#hd {

  width: 893px;
  margin: 0 auto;
  display: block;
  height: 198px;
  position: relative;
  padding: 0;
  overflow: visible;

  h1 {
    text-indent: -9999px;
    background: transparent url(image_path('logo_flag.png')) 0 0 no-repeat;
    width: 149px;
    height: 183px;
    position: absolute;
    left: -28px;
    top: 0;
    margin: 0;
    a {
      display: block;
      width: 149px;
      height: 179px;
      border-bottom: none;
    }
  }

  #main_nav {
    display: block;
    width: 893px;
    height: 68px;
    margin: 110px 0 0 0;
    padding: 0;
    ul {
      float: right;
      margin: 0;
      padding: 0;
      li {
        width: 85px;
        height: 69px;
        background: transparent url(image_path('main_nav_divider.png')) 0 0 no-repeat;
        float: left;
        text-indent: 0;
        text-align: center;
        text-transform: uppercase;
        font: 1em Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif;
        font-weight: bold;
        font-size: 12px;
        position: relative;
        list-style-type: none;
        div {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 85px;
          height: 69px;
          a {
            display: block;
            padding-top: 19px;
            height: 50px;
            color: white;
            vertical-align: middle;
            text-align: center;
            text-decoration: none;
            border: none;
          }
          a:hover {
            background: transparent url(image_path('main_nav_over_bg.png')) 0 0 no-repeat;
          }
        }
      }
    }
  }

}


#banner-text {
  padding: 2px 0px 0px 390px;
  font: 1em Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif;
  font-weight: bold;
  font-size: 52px;
  color: white;
}



#white_link {
  color: #ffffff;
  border: none;
}

#mural {
  margin-top: 1em;
  margin-bottom: 5em; }

/*
  Side-by-side definition list label-value pairs
  (stole this from Hydrangea's css)
*/

dl {
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
  dt {
    clear: left;
    float: left;
    width: 11em;
    text-align: right;
    font-weight: bold;
    font-size: .9em;
    margin-top: 5px;
  }
  dd {
    float: left;
    width: 30em;
    margin-top: 4px;
    /* dd tags look oddly out-of-line unless slightly smaller than dt tags */
    margin-right: 0;
    position: relative;
  }
}

/* Modifications to Blacklight */

#page {
  background: transparent url(image_path('header_bg.jpg')) top center no-repeat;
  width: 1100px;
}



#main_container {
  padding-top: 25px;
}

#ft {
  background-color: #7d0000;
  color: #ffffff;
  text-align: center;
  padding: .5em;
  margin-bottom: 1em;
}

#facets h3:hover {
  background: #DDD;
}


.twiddle {
  border-bottom: 1px dotted #CCC;
}

.appliedFilter {
  background: #efd2d2;
  border: 1px solid #be4646;
  .btnRemove {
    border-left: 1px solid #efd2d2;
    &:active, &:focus {
      border: 1px dotted #FFD27A;
    }
  }
}

.page_links span.current {
  background: none repeat scroll 0 0 #be4646;
  border: 1px solid #be4646;
}

dl.defList {
  width: 620px;
  margin: 1em 0;
  padding: 0;
  dt {
    clear: left;
    float: left;
    width: 150px;
    margin: 0;
    padding: 1px 5px 1px;
    font-weight: bold; }
  dd {
    float: left;
    width: 450px;
    margin: 0;
    padding: 1px 5px 1px;
  }
}

.user_util_links { margin: 20px 0px 0px 0px; }



/* EAD css */

span.container {
  font-size: 90%;
  margin-left: 25px;
}

div.component_part {
  padding: 3px;
  margin: 2px 0;
}

h5 { margin: 0px; }

div {
  &.c01 {
    margin: 2px 2px 2px 12px;
    background-color: #CCC; }
  &.c02 {
    margin: 2px 2px 2px 12px;
    background-color: #DDD; }
  &.c03 {
    margin: 0 0 0 12px;
    background-color: #EEE; }
  &.c04 {
    margin: 0 0 0 12px;
    background-color: #FFF; }
  &.c05 {
    margin: 0 0 0 12px;
    border: 1px solid #CCC;
  }
}

#ead_sidebar { position: fixed; }

#ead_toc {
  position: relative;
  ol {
    vertical-align: baseline;
    padding: 0;
    margin: .25em;
  }
  li {
    list-style: none;
  }
}

#ead_body {
  p {
    margin: 0 0 10px 0;
    padding: 0;
  }
}